extends ../layout/index.pug

block contenido
  // Contenedor principal que ocupa toda la pantalla con fondo degradado usando los verdes definidos en tu configuración
  .w-full.h-screen.bg-gradient-to-r.from-green-300.to-green-700.flex.animate-fade-in

    // Sección izquierda para el texto "Bienes Raíces"
    .flex-1.flex.flex-col.items-center.pt-28
      // Imagen centrada encima del título
      img(src="/img/BienesRaices.png" alt="Bienes Raíces" class="w-320 h-320 mb-4")
      h1.text-6xl.font-bold.text-black Bienes Raíces
      // Texto de bienvenida más centrado
      p.text-1xl.font-bold.text-black.items-center.py-6.px-6.text-center "Bienvenido a Bienes Raíces, donde tu próximo hogar o inversión está a solo un clic de distancia. Encuentra las mejores opciones para tu futuro."
      // Enlace para registrarse
      a(href="/auth/registro" class="text-black font-semibold text-lg hover:text-[#1E90FF] mt-4") ¿No tienes cuenta? Regístrate

    // Sección derecha para el formulario
    .flex-1.flex.items-center.justify-center
      .bg-white.w-full.max-w-md.p-8.rounded-lg.shadow-lg
        h2.text-2xl.font-semibold.text-center.mb-6 Iniciar sesión

        form(action="/auth/login" method="POST" class="space-y-6")
          // Campo de correo electrónico
          label(for="email" class="block text-sm font-medium text-gray-700") Correo Electronico
          input(id="email" class="w-full p-2 border border-gray-300 rounded-md" type="email" placeholder="Tu Correo Electronico" required)

          // Campo de contraseña
          label(for="password" class="block text-sm font-medium text-gray-700") Contraseña
          input(id="password" class="w-full p-2 border border-gray-300 rounded-md" type="password" placeholder="Tu Contraseña" required)

          // Enlace para recuperar la contraseña (ahora dentro del formulario)
          a(href="/auth/Olvide-password" class="text-sm text-custom-green hover:text-custom-green-hover") Olvidaste tu Contraseña?

          // Botón de inicio de sesión
          input(class="w-full bg-[#91CB3E] hover:bg-[#53A548] text-white font-bold py-2 cursor-pointer rounded-md" type="submit" value="Iniciar Sesion")

          // Opciones para continuar con redes sociales
          p(class="text-center text-gray-500 text-sm mt-4") o continua con...
          .flex.justify-center.gap-4.mt-4
            a(href="#" class="w-8 h-8 flex items-center justify-center bg-gray-200 rounded-full cursor-pointer")
              img(src="/img/facebook.png" alt="Facebook" class="w-6 h-6")
            a(href="#" class="w-8 h-8 flex items-center justify-center bg-gray-200 rounded-full cursor-pointer")
              img(src="/img/apple.png" alt="Apple" class="w-6 h-6")
            a(href="#" class="w-8 h-8 flex items-center justify-center bg-gray-200 rounded-full cursor-pointer")
              img(src="/img/google.png" alt="Google" class="w-6 h-6")
