extends ../layout/index.pug

block contenido
    .py-10
        h1.text-5xl.my-10.font-extrabold.text-center Bienes
            span.font-normal(style="color: #28a745") Raices
        h2.text-center.text-3xl.font-extrabold= pagina

        p.text-xl.font-bold.text-center.my-10.text-red-700= msg